.produtos {
  font-family: 'Montserrat', sans-serif;
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;

  a {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px #000000 solid;
    border-radius: 10px;
    color: #000000;
    text-decoration: none;
    
    &:hover {
      border-color: red;

      h2 {
       font-size: 40px;
      }
    }    

    &:active{
      color: darkblue;
    }
  }
  .produtodesc1 {
    font-size: 15px;
  }
  .produtodesc {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }  
}