.StyledHeader {
  background-color: #cccccc;
  display: flex;
  
  padding: 0 15vw;
  height: 43vh;
  align-items: center;

  img {
    height: 225px;
    width: 225px;  
    margin-right: 25rem;
  }
  a {
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 5px 9px;
    margin: 0 10px;
    font-weight: 700;
    color: #000;
    text-decoration:none;
  }
}

.BtnCabecalho {
  text-align: center;
  padding: 5px 20px;
  margin: 0 10px;
  font-weight: 700;
  color: #000;
  text-decoration:none;
}