.imgmoto {
  width: 100%;
}

.texto1 {
    font-family: Montserrat, sans-serif;
    text-shadow: 10px 10px 10px #000000;
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 30px;  
}

.imgmoto2 {
  width: 100%;
  background: #fdfdfd;
  margin: 45px 40px 0 180px;
  display: flex;
  align-items: center;
  
  
  
  ul {
    font-family: Montserrat, sans-serif;
    margin: 30px;
    line-height: 10px;
    background: #fefefe;
    font-size: 22px;
    font-style: italic;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#fefefe, #888888);
  font-family: Montserrat, sans-serif;
  
  .texto3 {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    margin-top: 70px;
  }
  .texto4 {
    text-align: center;
    margin-top: 7px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .texto5 {
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    margin-top: 50px;
  }
  .listacredenciada {
    display:flex;
    align-items: center;
    line-height: 8px;
    .tip {
      font-weight: bold;
    }
    .tip:before {
      content: "🏍️ ";
    }
    .tip1:before {
      content: "🏍️ ";
    }
    .imgoficina {
      box-shadow: 20px -20px 10px #000000;
      margin-left: 60px;
    }
  }
  .video {
    width: 560px;
    height: 315px;
    margin-bottom: 50px;
  }
}








/*


export const ListaCredenciada = styled.div`
  margin-top: 40px;
  width: 50%;
  line-height: 25px;
  .tip {
    font-weight: bold;
  }
  .tip:before {
    content: "🏍️ ";
  }
  .tip1:before {
    content: "🏍️ ";
  }
`;
export const Video = styled.iframe`
  width: 560px;
  height: 315px;
  margin-bottom: 50px;
`;

export const Oficina = styled.img`
  margin-right: 50px;
  width: 60%;
  box-shadow: 20px -20px 10px #000000;
  float: right;
`;*/